body {
  background-color: #c9eff5;
  font-family: "Roboto", sans-serif;
}

.password-display {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 8px solid seagreen;
}

/* custom button styles */
.btn.btn-outline-secondary {
  font-size: 20px;
}
.password-box {
  font-family: "Roboto", Courier, monospace;
  word-break: break-all;
  flex-grow: 1;
  margin-right: 10px;
}

.card {
  border: none;
  border-radius: 10px;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 0.5rem;
}
.form-check i {
  color: #6c757d;
  cursor: pointer;
}
.form-check-input:checked {
  background-color: red;
  border-color: red;
  margin-bottom: 12px;
  accent-color: red;
}

.form-check-input[type="radio"]:checked {
  background-color: red;
  border-color: red;
}

.copy-btn {
  background-color: #d32f2f;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  font-size: 18px;
  padding: 10px 30px;
}

.copy-btn:hover {
  background-color: #b71c1c;
}

#lengthRange.custom-red-range {
  --range-value: 30;
  background: linear-gradient(
    to right,
    #d32f2f 0%,
    #d32f2f calc(var(--range-value) * 1%),
    rgba(128, 128, 128, 0.3) calc(var(--range-value) * 1%),
    rgba(128, 128, 128, 0.3) 100%
  );
  height: 0.6rem;
  border-radius: 50px;
  appearance: none;
}

#lengthRange.custom-red-range::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #d32f2f;
  border-radius: 50%;
  cursor: pointer;
  /* border: 2px solid white; */
  margin-top: -12px;
}


#lengthRange.custom-red-range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background-color: #d32f2f;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

#lengthRange.custom-red-range::-webkit-slider-runnable-track {
  background: transparent;
}

#lengthRange.custom-red-range::-moz-range-track {
  background: transparent;
}
